@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Bebas Neue";
  src: url("~/assets/fonts/BebasNeue-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("~/assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("~/assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
}

/**
 * Set roboto as the default font family
 */

html {
  @apply font-roboto;
}

@layer components {
  .button {
    @apply block rounded-full border-2 border-white bg-white px-6 py-1 text-center text-sm text-purple-800 transition-all duration-300 hover:bg-purple-900 hover:text-white focus:scale-105 focus:outline-purple-800 lg:inline-block;
  }
}
